/**
 * Codee general styling
 */
$red: #e63530;
$gray: #363533;
$pink: #fcebe9;

@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    $property: $value;
}

/**
 * @group general
 */
* {
    font-family: "omnes-pro", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 1.2em;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #fff;
    font-size: 1em;
}

.wrapper {
    width: 900px;
    margin: 0px auto;
    padding: 80px 0px;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.button, input[type="submit"] {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    background: $red;
    border: none;
    @include prefix(border-radius, 100px);
}

.more {
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;

    &:before {
        content: "+ ";
    }
}

hr {
    border: 1px solid lighten($red, 10);
    margin: 60px 0px;
}

.portrait {
    margin: 0px auto 10px;
    height: 90px;
    width: 90px;
    border: 5px solid $pink;
    @include prefix(border-radius, 90px);
    overflow: hidden;
}

/**
 * @end
 */

/**
 * @group sections
 */
header {
    background: $red url("../images/light-tip.png") no-repeat center bottom;
    overflow: auto;

    header {
        height: 140px;
        overflow: auto;
        position: relative;
        background: -webkit-linear-gradient(
            $red 0%,
            $red 33px,
            lighten($red, 20) 33px,
            lighten($red, 20) 34px,
            $red 34px,
            $red 100%
        );

        img {
            left: 0px;
            top: 0px;
            position: absolute;
            padding-right: 20px;
            background: $red;
        }

        #event-info {
            width: 250px;
            left: 50%;
            top: 20px;
            padding: 0px 10px;
            margin-left: -125px;
            position: absolute;
            display: inline-block;
            background: $red;
            text-transform: uppercase;
            font-size: 1.4em;
        }

        #sign-up {
            position: absolute;
            right: 0px;
            top: 16px;
            float: right;
            background: darken($red, 20);
        }

    }

    h1 {
        margin: 0px auto 20px;
        width: 660px;
    }
}

#speakers {
    color: $red;
    background: #fff url("../images/dark-tip.png") no-repeat center bottom;

    .speaker {
        width: 260px;
        float: left;
        padding: 0px 20px;

        h2 {
            font-weight: 600;
        }
    }

    .portrait {
        width: 170px;
        height: 170px;
        margin-bottom: 20px;
        @include prefix(border-radius, 170px);
    }

}

#attendees {
    background: $gray;

    .attendee {
        width: 160px;
        float: left;
        padding: 20px 10px;

        h2 {
            font-size: 1.4em;
            font-weight: 500;
        }

        h3 {
            font-size: 1em;
            font-weight: 200;
        }

    }

}

#availability {

    background: $gray;

    .wrapper {
        padding: 20px 0px 40px;
        background: -webkit-linear-gradient(
            $gray 0%,
            $gray 40px,
            lighten($gray, 20) 40px,
            lighten($gray, 20) 41px,
            $gray 41px,
            $gray 100%
        );
    }

    h2 {
        background: $gray;
        display: inline-block;
        padding: 0px 20px;
        font-weight: normal;
    }

    span {
        margin: 0px 10px;
    }

}

#apply {
    background: $gray url("../images/light-tip.png") no-repeat center bottom;

    h1 {
        margin-bottom: 20px;
    }

    p {
        font-weight: 200;
        width: 300px;
        margin: 0px auto;
    }

    form {
        width: 340px;
        margin: 20px auto 0px;
    }

    input[type="submit"] {
        margin-top: 20px;
    }
}

footer {
    color: #fff;
    background: $red;

    #sponsors {
        margin-top: 60px;

        li {
            padding: 0px 20px;
            display: inline-block;
        }
    }

    #initiators, #initiators a {
        color: lighten($red, 20);
    }
}

/**
 * @group forms
 */
input[type="text"], select {
    color: #434343;
    border: 0px;
    @include prefix(border-radius, 30px);
    font-size: 1.4em;
    padding: 0.5em 1em;
    display: block;
    margin-bottom: 10px;
    width: 300px;
    text-align: left;
}

select {
    -webkit-appearance: none;
}

select:focus {
    border: none;
}
